body {
  background-color: #a2c8eb;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #0e1226;
  font-family: "Inter", sans-serif;
  font-weight: 250;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  
}

main {
  margin-top: 20px;
}

.button {
  background-color: #423e63;
  color: #fefffb;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 250;
  border: none;
  border-radius:3px;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  cursor: pointer;

}

.logo {
  max-width: 500px;
  height: auto;
}

.logo img {
  width: 250px;
  height: auto;
}

#code_field {
  font-family: "Inter", sans-serif;
  font-weight: 250;
  border: none;
  background-color: #fefffb;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #423e63
}

a:link {
  color: #fefffb;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fefffb;
  background-color: transparent;
  text-decoration: underline;
}

.box {
  background-color: #fefffb;
  max-width: fit-content;
  margin-inline: auto;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 65px;
  padding-bottom: 20px;
  padding-left: 65px;
  text-align: center;
}

#footer_text {
  text-align: center;
  padding-top: 50px;
}

#info_popup {
  display: none;
}

#add_candidate {
  width: 50px;
  height: 50px;

}

#center_title {
  text-align: center;
}

#interaction_field {
  max-width: fit-content;
  margin-inline: auto;
}

#form {
  background-color: #fefffb;
  max-width: fit-content;
  margin-inline: auto;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 65px;
  padding-bottom: 20px;
  padding-left: 65px;
}

#centered_logo {
  max-width: fit-content;
  margin-inline: auto;
}

header {
  display: flex;
  height:3 00px;
  
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new_cam {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#intro {
  text-align: center;
}