body {
  background-color: #a2c8eb;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #0e1226;
  font-family: "Inter", sans-serif;
  font-weight: 250;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  
}

.button {
  background-color: #423e63;
  color: #fefffb;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 250;
  border: none;
  border-radius:3px;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  cursor: pointer;

}

.logo {
  max-width: 500px;
  height: auto;
}

.logo img {
  width: 250px;
  height: auto;
}

#code_field {
  font-family: "Inter", sans-serif;
  font-weight: 250;
  border: none;
  background-color: #fefffb;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #423e63
}

a:link {
  color: #fefffb;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fefffb;
  background-color: transparent;
  text-decoration: underline;
}